/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
body {
    background: #0D2F58 url("../images/bkgrd_texture.jpg") repeat top left;
}
#wrapper {
    background: linear-gradient(to bottom,  rgba(92,106,131,0.75) 0%,rgba(64,81,111,0.75) 100%); /* W3C */
    border-radius: 2px;
    border: 2px solid #01d5ff;
    box-shadow: 2px 2px #57B2A8;
    padding: 1.041666666667%;
}
h1 {
    color: #FF9627;
    text-align: center;
}
h2, h3 {
    color: #7CFFEF;
}
h2 {
    border-bottom: 1px solid #ce6d27;
}
nav li {
    display: inline;
    padding-left: 20px;
}
nav{
    width: 72.916666666667%;
    margin: 2.857142857143% auto;
}
a {
    text-decoration: none;
}
a:link {
    color: #ff8900;
}
a:visited {
    color: #E35D08;
}
a:hover {
    color: #ffcb9d;
    text-decoration: underline;
}
a:active {
    color: #FF6909;
}
#governing_bodies table {
    border: 2px solid #7CFFEF;
    width: 52.08333333333%;
}
#governing_bodies tr:first-child{
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    color: #ff980f;
    text-shadow: 1px 1px #74360e;
}
table td, table tr {
    border: 1px solid #74d7c7;
    padding: 5px;
}
#governing_bodies tr:nth-child(odd){
    background-color: rgba(59, 56, 57, .75);
}
#governing_bodies tr:nth-child(even){
    background-color: rgba(76, 73, 74, .75);
}
#governing_bodies tr:hover {
    background-color: #0566ff;
}

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/